.portfolio-section-photo {
    background-color: white;
}

.portfolio-section-photo h2 {
    color: #242424;
    margin-bottom: 80px;
}

.grid-electrocompagnie {
    display:grid;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-batiment {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-electrocompagnie img,
.grid-batiment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lien-conteneur-photo {
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
}